.containerCardList {
  width: auto;
  min-height: 130px;
  display: flex;
}

.borderLeftRed {
  background-color: #ed3237;
  width: 25px;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.contentCardList {
  background-color: #f5f5f5;
  display: flex;
  padding: 15px;
  border-radius: 0 10px 10px 0;
}

.titleAndNumberCardList {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  height: 100%;
  row-gap: 4px;
}

.titleAndNumberCardList h3,
.titleAndNumberCardList p {
  margin: 0;
  cursor: pointer;
}

.buttonTrashCardList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  border: none;
}

.buttonTrashCardList button {
  border: none;
  border-radius: 3px;
  background-color: transparent;
}

.buttonTrashCardList button:hover {
  opacity: 0.8;
  cursor: pointer;
}
